<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sms.pipe">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" tools:node="remove"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmsPipe">
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SmsPipe"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:exported="true"
            android:name=".view.splash.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.addApplet.CreateAppletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmsPipe" />

        <receiver
            android:name=".services.SMSReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="Telephony.Sms.Intents.SMS_RECEIVED_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>